* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color:#ff8747;
}
.logo{
    width: 230px;
}
.menu{
    background-color: #f3d785;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 200;
    font-size: 20px;
    
}

.letra{
    color: black;
    text-decoration: none;
    font-weight:bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.productos{
    padding-top: 5rem;
    display: block;
    justify-content: end;
    text-align: center;
}
.titulo{
    font-size: 7rem;
    font-family: monospace;
    max-width: 100%;
    justify-content: center;
}
.tipografia{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.titulos{
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
}
.parrafos{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: large;
}
.descripcion{
    font-weight: lighter;
}
@media(min-width: 768px){
    .menu{
        flex-direction: row;
    }
}